.card-container{
  width: 320px;
  max-width: 320px;
  padding: 25px;
  border-radius: 20px;
}

.post-img{
  width: inherit;
  border-radius: 10px;
}

.category {
  border-radius: 5px;
}

.post-author-container {
  margin-top: 20px;
  gap: 1em;
}

.avatar-img {
  width: 40px;
}

.author-name, .post-title, .category {
  font-weight: 800;
}



